body{
  text-align: center;
  font-family: arial;
  color: deeppink;
}
.container{
  border: 1px solid red;
}
.contenido{
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: space-between;
}
.contenido p{
  border: 2px solid blue;
  width: 40%;
}
